<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Backbone.js" version="0.9.10" targetFramework="net40" />
  <package id="FontAwesome" version="3.1.1" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="KendoUIWeb" version="2013.1.319" targetFramework="net40" />
  <package id="Knockback.js" version="0.17.2" targetFramework="net40" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net40" />
  <package id="Q" version="0.9.6" targetFramework="net40" />
  <package id="toastr" version="1.3.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net40" />
  <package id="underscore.js" version="1.4.4" targetFramework="net40" />
</packages>