
<section>
    <h2 data-bind="html:displayName"></h2>    


     <div id="Farmacias">
        <div class='well form-search'>
            <input  id="buscador_farmacias" class="span5 search-query" placeholder="Digite el nombre de la farmacia a buscar" />
            <button id="buscar" class='btn'>
                <i class="icon-search"></i>
                Buscar
            </button>
        </div>
        <div id="Grid_Farmacia"></div>
    </div>


    <!--<div id="Farmacias">
        <div 
             id="Grid_Farmacias"
             data-role="grid" 
             data-bind="source: datasource" 
             data-editable = "inline"
             data-toolbar='["create"]'
             data-columns='[
                            {"field": "Nombre", "title": "Nombres"}, 
                            {"field": "Telefono", "title": "Telefono"},
                            {"field": "Telefono2", "title": "Segundo telefono"},                            
                            {"field": "Direccion", "title": "Direccion"},   
                            {"command": ["edit","destroy"]}
                           ]'             
             >
        </div>   
    </div>
     -->

    </div>   
</section>