
<section>
    <h2 data-bind="html:displayName"></h2> 

    <div id="Medicos">       
        <div class='input-append'>
            <input  id="buscador_medicos" placeholder="Buscar medico" />
            <button id="buscar" class='btn add-on'>
                <i class="icon-search"></i>
            </button>
        </div>
        <div id="Grid_Medico"></div>
    </div>

    <!--
     <div 
             id="Grid_Medico"
             data-role="grid" 
             data-bind="source: datasource" 
             data-editable = "inline"
             data-toolbar='["create"]'
             data-pageable= "true" 
             data-columns='[
                            {"field": "Nombres", "title": "Nombres"}, 
                            {"field": "Apellidos", "title": "Apellidos"},
                            {"field": "NumeroDocumento", "title": "Numero de documento"},                           
                            { "field": "IdTipoDocumento", "title": "Tipo de documento", "editor": "medicoDropDownEditor", "template": "#= parent().parent().getRoleName(IdTipoDocumento) #"},
                            {"command": ["edit","destroy", {"name": "Detalle", "text" : "Detalle"}]}
                           ]'             
             >
        </div>
    -->

    </div>   
</section>