
<h2 data-bind="html:displayName"></h2>   

<section class="clearfix" id="Contenedor">
 
    <div class="container-fluid">
         <div class="row-fluid">
             <div class="span6">
                <div id="Planear">
                <div>
                  <h5>Unidades de visita</h5>            
                      <div><input  id="buscador_medicos" class="span search-query" placeholder="Buscador unidad de visita" /></div> 
                      </br>
                      <div id="List_View_Planear" class="contenedorMedico"></div>        
                </div>          
             </div>
             </div>

             <div class="span6">
                <div id="scheduler"></div>
             </div>
 </div>
    </div>
    <script type="text/x-kendo-tmpl" id="template">
        <div class="medico">            
                # if (Tipo == 'Medico'){ #  
                <h3 class="label label-info"> #:Row# #:Nombres# #:Apellidos#</h3>
                # } 
                else if (Tipo == 'Farmacia'){ #
                <h3 class="label label-warning"> #:Row# #:Nombres#</h3>
                # }
                else if (Tipo == 'Actividad Justificada'){ #
                <h3 class="label label-notice"> #:Row# #:Nombres#</h3>
                # } #
             

                # if (Tipo != 'Actividad Justificada'){ #  
                <div class="direccion">
                    <p>#:Direccion#</p>
                    <span class="label">#:ContactosActual#/#:ContactosOriginal#</span>
                </div>
                # } #
                

        </div>
    </script>

    <script id="editor" type="text/x-kendo-template">
       <h3>Visitando a</h3>
       <p>
           <label>Titulo: <input name="title" /></label>
       </p>
       <p>
           <label>Fecha: <input data-role="datetimepicker" name="start" /></label>
       </p>      
    </script>
   
     <style>        
      
    .label.notice {
        background-color: #62cffc;
    }
            
    #Planear
     {
            overflow: auto;
            height: 500px;
     }
     
     #scheduler
     {
            overflow: auto;
            height: 500px;
     }
    .medico {        
                 
    }
    .medico:hover {
            visibility: visible;           
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 25px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }
        .direccion
        {
             display: block;
        }
        
        .direccion span
        {
           float: right;
           margin-top: -4em;
        }
         
       
         
     </style>
</section>    

<!--<section id="Contenedor">
    <div id="Panel" class="box">
        <div class="Grillas"            
             id="Grid_Panel"
             data-role="grid" 
             data-bind ="source: datasourcePanel, events: { change: change }" 
             data-selectable="row"                     
             data-bind="source: datasourcePanel"
             data-columns='[
                            {"field": "Nombre_Mostrar", "title": "Nombre"},
                            {"field": "Direccion_Mostrar", "title": "Direccion"},
                            {"field": "Contactos", "title": "Contactos"},
                           ]'             
             >
        </div>
    </div>
    
    <div id="Planear" class="box">
        <div class="Grillas"            
             data-role="grid" 
             data-bind="source: datasourcePlaneacion" 
             data-editable = "inline"            
             data-columns='[
                            {"field": "Nombre_Mostrar", "title": "Nombres"}, 
                            {"field": "Direccion_Mostrar", "title": "Direccion"},
                            {"field": "Fecha", "title": "Fecha", "format": "{0:dd/MM/yyyy}"},
                            {"field": "Hora", "title": "Hora"},
                            {"command": ["edit","destroy"]}
                           ]'             
             >
        </div>
    </div>

   
</section>

<style>
    .box {      
    width: 47%;
    height: 90%;
    display: inline-block;   
    vertical-align: middle;
    position: relative;    
}
    
 .Grillas {      
    width: fill-available;
    height: 300px;
    display: inline-block;   
    vertical-align: middle;
    position: relative;    
}
</style>


-->

